@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / content / index
// -----------------------------------------------------------------------------

.brag-book-gallery-content-title {
	font-size: var(--wp--custom--brag-book-gallery--text-2xl) !important;
	line-height: 1.25;
	margin-block: 0 var(--wp--custom--brag-book-gallery--spacer--md,12px) !important;

	@media (min-width: 768px) {
		font-size: var(--wp--custom--brag-book-gallery--text-4xl) !important;
	}

	@media (min-width: 1024px) {
		font-size: var(--wp--custom--brag-book-gallery--text-8xl) !important;
	}
}
