@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / loading / index
// -----------------------------------------------------------------------------

.brag-book-gallery-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 48px;
	font-size: var(--wp--custom--brag-book-gallery--spacer--lg);
	color: var(--wp--custom--brag-book-gallery--color--grey);

	&::before {
		content: '';
		display: inline-block;
		width: var(--wp--custom--brag-book-gallery--spacer--2xl);
		height: var(--wp--custom--brag-book-gallery--spacer--2xl);
		margin-right: var(--wp--custom--brag-book-gallery--spacer--md);
		border: 3px solid var(--wp--custom--brag-book-gallery--color--light-grey);
		border-top-color: var(--wp--custom--brag-book-gallery--color--grey);
		border-radius: 50%;
		animation: spin 1s linear infinite;
	}
}

.brag-book-load-more-container {
	text-align: center;
	margin: var(--wp--custom--brag-book-gallery--spacer--2xl) 0;
	padding: var(--wp--custom--brag-book-gallery--spacer--lg) 0
}

@keyframes spin {
	to {
		transform: rotate(360deg)
	}
}
