@charset "UTF-8";

// -----------------------------------------------------------------------------
// structure / container
// -----------------------------------------------------------------------------

.brag-book-gallery-container {
	display: flex;
	min-height: 100vh;
	position: relative;
	padding-left: 0;
	padding-right: 0;

	// Mobile layout (until 1280px)
	@media (max-width: 1279px) {
		flex-direction: column;
	}
}
