@charset "UTF-8";

// -----------------------------------------------------------------------------
// structure / container
// -----------------------------------------------------------------------------

.brag-book-gallery-container {
	display: flex;
	min-height: 100vh;
	position: relative;
	padding-left: var(--wp--custom--brag-book-gallery--spacer--lg);
	padding-right: var(--wp--custom--brag-book-gallery--spacer--lg);

	// Mobile layout (until 1280px)
	@media (max-width: 1279px) {
		flex-direction: column;
	}
}
