@charset "UTF-8";

// -----------------------------------------------------------------------------
// structure / main-content
// -----------------------------------------------------------------------------

.brag-book-gallery-main-content {
	width: 100%;
	flex: 1;
	background-color: var(--wp--custom--brag-book-gallery--color--white,#FFF);
	padding-inline: 0;
	padding-block: var(--wp--custom--brag-book-gallery--spacer--lg,16px);

	@media (min-width: 1280px) {
		padding-inline: var(--wp--custom--brag-book-gallery--spacer--lg,16px);
	}
}
