@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / case / cards
// -----------------------------------------------------------------------------

@use 'cards';
@use 'cases-grid';
@use 'description';
@use 'header';
@use 'procedures-list';

.brag-book-case-images-split,
.brag-book-case-image-single {
	position: relative
}

html.nudity-accepted-preload .brag-book-gallery-nudity-warning,body.nudity-accepted .brag-book-gallery-nudity-warning {
	display: none !important
}

html.nudity-accepted-preload .brag-book-gallery-nudity-blur,body.nudity-accepted .brag-book-gallery-nudity-blur {
	filter: none !important
}
