@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / carousel actions
// -----------------------------------------------------------------------------

.brag-book-gallery-item-actions {
	position: absolute;
	top: calc( 3 * var(--wp--custom--brag-book-gallery--spacer) );
	right: calc( 3 * var(--wp--custom--brag-book-gallery--spacer) );
	display: flex;
	gap: calc( 2 * var(--wp--custom--brag-book-gallery--spacer) );
	transition: var(--wp--custom--brag-book-gallery--transition);
	pointer-events: none;
	z-index: 10;
}

.brag-book-gallery-favorite-button {

}
