@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / carousel / content
// -----------------------------------------------------------------------------

.brag-book-gallery-carousel-content {
	position: relative;
	display: flex;
	align-items: center;

	.brag-book-gallery-favorites-list {
		padding: var(--wp--custom--brag-book-gallery--spacer--md,12px) var(--wp--custom--brag-book-gallery--spacer--lg,16px);
	}
}
