@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / carousel dot
// -----------------------------------------------------------------------------

.brag-book-gallery-pagination-dot {
	width: var(--wp--custom--brag-book-gallery--spacer--lg,16px);
	height: var(--wp--custom--brag-book-gallery--spacer,4px);
	border-radius: 10em;
	background: var(--wp--custom--brag-book-gallery--color--light-gray);
	border: none;
	cursor: pointer;
	transition: var(--wp--custom--brag-book-gallery--transition);
	padding: 0;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: var(--wp--custom--brag-book-gallery--spacer--lg,16px);
		height: var(--wp--custom--brag-book-gallery--spacer,4px);
		border-radius: 50%;
		background: transparent;
	}

	&:focus-visible {
		outline: none;
	}

	&:hover {
		background: var(--wp--custom--brag-book-gallery--color--gray);
		transform: scale(1.2);
	}

	&.brag-book-gallery-active {
		background: var(--wp--custom--brag-book-gallery--color--black);
		width: calc( 8 * var(--wp--custom--brag-book-gallery--spacer,4px) );
		border-radius: 10em;
	}
}
