@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / carousel pagination
// -----------------------------------------------------------------------------

.brag-book-gallery-carousel-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--wp--custom--brag-book-gallery--spacer--sm, 8px );
	margin-block-start: var(--wp--custom--brag-book-gallery--spacer--lg,16px);
}
