@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / carousel / wrapper
// -----------------------------------------------------------------------------

.brag-book-gallery-carousel-wrapper {
	position: relative;
	margin-block: var(--wp--custom--brag-book-gallery--spacer--2xl,24px);
	overflow: hidden;
	
	// Inner container for the track
	.brag-book-gallery-carousel-container {
		overflow: hidden;
		position: relative;
	}
}
