@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / gallery / controls
// -----------------------------------------------------------------------------

.brag-book-gallery-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--wp--custom--brag-book-gallery--spacer--lg,16px);
	margin: 0 0 var(--wp--custom--brag-book-gallery--spacer--lg,16px);
	padding-block: var(--wp--custom--brag-book-gallery--spacer--md,12px) 0;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: var(--wp--custom--brag-book-gallery--color--lighter-grey);

	&-left {
		display: flex;
		align-items: center;
		gap: var(--wp--custom--brag-book-gallery--spacer--lg,16px);
		flex-wrap: wrap
	}
}
