@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / images / no images
// -----------------------------------------------------------------------------

.no-images {
	padding: 2rem;
	text-align: center;
	color: var(--wp--custom--brag-book-gallery--color--grey);
	background: var(--wp--custom--brag-book-gallery--color--lightest-grey);
	border-radius: 8px;
	margin: 2rem 0
}
