@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / images / no images
// -----------------------------------------------------------------------------

.no-images {
	padding: var(--wp--custom--brag-book-gallery--spacer--4xl);
	text-align: center;
	color: var(--wp--custom--brag-book-gallery--color--gray);
	background: var(--wp--custom--brag-book-gallery--color--lightest-gray);
	border-radius: 8px;
	margin: var(--wp--custom--brag-book-gallery--spacer--4xl) 0
}
