@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / filters / results
// -----------------------------------------------------------------------------

.brag-book-gallery-filter-results {
	padding: var(--wp--custom--brag-book-gallery--spacer-md) var(--wp--custom--brag-book-gallery--spacer-lg);
	margin-bottom: var(--wp--custom--brag-book-gallery--spacer-lg);
	background-color: #fef3c7;
	border: 1px solid #fde68a;
	border-radius: var(--wp--custom--brag-book-gallery--spacer-sm);
	font-size: var(--wp--custom--brag-book-gallery--text-sm);
	line-height: var(--wp--custom--brag-book-gallery--xl);
	color: #92400e;
	font-weight: 500;
	display: none
}
