@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / filters / results
// -----------------------------------------------------------------------------

.brag-book-gallery-filter-results {
	padding: .75rem 1rem;
	margin-bottom: 1rem;
	background-color: #fef3c7;
	border: 1px solid #fde68a;
	border-radius: .5rem;
	font-size: .875rem;
	line-height: 1.25rem;
	color: #92400e;
	font-weight: 500;
	display: none
}
