@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / dialog / index
// -----------------------------------------------------------------------------

.brag-book-gallery-dialog {
	padding: 0;
	border: none;
	border-radius: var(--wp--custom--brag-book-gallery--spacer--md);
	box-shadow: var(--wp--custom--brag-book-gallery--shadow-lg);
	max-width: 512px;
	width: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	margin: 0;
	z-index: 100;
	background: var(--wp--custom--brag-book-gallery--color--white,#FFF);
	opacity: 1;
	visibility: visible;

	&:not([open]) {
		display: none;
	}

	&::backdrop {
		background-image: linear-gradient(45deg, rgb( 0 0 0 / .85 ), rgb( 0 0 0 / .65 ) );
		backdrop-filter: blur(4px)
	}

	&[open] {
		animation: dialogFadeIn 0.3s ease-out;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: var(--wp--custom--brag-book-gallery--spacer--lg);
	}

	&-content {
		padding: var(--wp--custom--brag-book-gallery--spacer--2xl);
	}

	&-logo {
		height: var(--wp--custom--brag-book-gallery--spacer--6xl,40px);
		width: auto;
		flex-shrink: 0
	}

	&-title {
		font-size: var(--wp--custom--brag-book-gallery--text-2xl) !important;
		font-weight: var(--wp--custom--brag-book-gallery--font-weight--semibold);
		color: var(--wp--custom--brag-book-gallery--color--black);
		margin: 0 0 var(--wp--custom--brag-book-gallery--spacer--lg) 0
	}

	&-description {
		font-size: var(--wp--custom--brag-book-gallery--text-sm);
		line-height: 1.5;
		color: var(--wp--custom--brag-book-gallery--color--grey);
		margin-bottom: var(--wp--custom--brag-book-gallery--spacer--2xl)
	}

	&-close {
		width: var(--wp--custom--brag-book-gallery--spacer--4xl,32px);
		height: var(--wp--custom--brag-book-gallery--spacer--4xl,32px);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--wp--custom--brag-book-gallery--color--black);
		background: var(--wp--custom--brag-book-gallery--color--lighter-grey);
		border: none;
		border-radius: 50%;
		cursor: pointer;
		transition: var(--wp--custom--brag-book-gallery--transition);
		padding: 0;

		svg {
			width: var(--wp--custom--brag-book-gallery--spacer--lg);
			height: var(--wp--custom--brag-book-gallery--spacer--lg);
			stroke: var(--wp--custom--brag-book-gallery--color--grey)
		}

		&:hover {
			background: var(--wp--custom--brag-book-gallery--color--light-grey)
		}

		&:focus {
			outline: none
		}
	}
}



@keyframes dialogFadeIn {
	from {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
