<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"brag-book-gallery-provider-view","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group brag-book-gallery-provider-view" style="margin-top:0"><!-- wp:query-title {"type":"archive","showPrefix":false} /-->

<!-- wp:term-description {"align":"full"} /-->

<!-- wp:html -->[brag_book_gallery]<!-- /wp:html --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
