@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / buttons / index
// -----------------------------------------------------------------------------

.brag-book-gallery-button {
	width: 100%;
	padding: calc( 4 * var(--wp--custom--brag-book-gallery--spacer) ) calc( 6 * var(--wp--custom--brag-book-gallery--spacer) );
	background: var(--wp--custom--brag-book-gallery--color--black);
	color: var(--wp--custom--brag-book-gallery--color--white);
	border: 2px solid var(--wp--custom--brag-book-gallery--color--black);
	border-radius: var(--wp--custom--brag-book-gallery--rounded);
	font-size: var(--wp--custom--brag-book-gallery--text-sm);
	font-weight: var(--wp--custom--brag-book-gallery--font-weight--semibold);
	text-transform: uppercase;
	letter-spacing: .05em;
	cursor: pointer;
	transition: var(--wp--custom--brag-book-gallery--transition);
	margin-block-end: calc( 5 * var(--wp--custom--brag-book-gallery--spacer) );

	&:hover {
		color: var(--wp--custom--brag-book-gallery--color--black);
		background: var(--wp--custom--brag-book-gallery--color--white);
		box-shadow: var(--wp--custom--brag-book-gallery--shadow-lg);
	}
}

.brag-book-gallery-favorite-button,
.brag-book-gallery-share-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc( 10 * var(--wp--custom--brag-book-gallery--spacer) );
	height: calc( 10 * var(--wp--custom--brag-book-gallery--spacer) );
	border: 0 none;
	background: transparent;
	border-radius: var(--wp--custom--brag-book-gallery--rounded-full);
	font-size: var(--wp--custom--brag-book-gallery--text-sm);
	font-weight: var(--wp--custom--brag-book-gallery--font-weight--semibold);
	cursor: pointer;
	transition: var(--wp--custom--brag-book-gallery--transition);
	position: relative;
	z-index: 30;
	pointer-events: auto;

	&:focus {
		outline: none
	}

	svg {
		width: 1.5rem;
		height: 1.5rem;
		transition: var(--wp--custom--brag-book-gallery--transition)
	}
}

.brag-book-gallery-favorite-button[data-favorited=true] {
	opacity: 1;

	svg {
		fill: red;
	}
}

.brag-book-gallery-load-more-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-block: calc( 4 * var(--wp--custom--brag-book-gallery--spacer) );
}

.brag-book-gallery-load-more-btn {
	width: 100%;
	padding: calc( 3 * var(--wp--custom--brag-book-gallery--spacer) ) calc( 4 * var(--wp--custom--brag-book-gallery--spacer) );
	background: var(--wp--custom--brag-book-gallery--color--white);
	color: var(--wp--custom--brag-book-gallery--color--black);
	border: 2px solid var(--wp--custom--brag-book-gallery--color--light-grey);
	border-radius: var(--wp--custom--brag-book-gallery--rounded);
	font-size: var(--wp--custom--brag-book-gallery--text-sm);
	font-weight: var(--wp--custom--brag-book-gallery--font-weight--semibold);
	text-transform: uppercase;
	letter-spacing: .05em;
	cursor: pointer;
	transition: var(--wp--custom--brag-book-gallery--transition);
	margin-block-end: calc( 5 * var(--wp--custom--brag-book-gallery--spacer) );
}
