@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / powered-by / index
// -----------------------------------------------------------------------------

.brag-book-gallery-powered-by-link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--wp--custom--brag-book-gallery--text-sm);
	color: var(--wp--custom--brag-book-gallery--color--light-grey);
	text-decoration: none;
	transition: var(--wp--custom--brag-book-gallery--transition);
	margin-block: var(--wp--custom--brag-book-gallery--spacer--lg,16px);

	&:hover {
		color: var(--wp--custom--brag-book-gallery--color--grey);
		text-decoration: underline
	}
}


