@charset "UTF-8";

// -----------------------------------------------------------------------------
// components / powered-by / index
// -----------------------------------------------------------------------------

.brag-book-gallery-powered-by {
	text-align: center;
	font-size: var(--wp--custom--brag-book-gallery--text-sm);
	color: var(--wp--custom--brag-book-gallery--color--grey);

	&-link {
		color: var(--wp--custom--brag-book-gallery--color--black);
		font-weight: var(--wp--custom--brag-book-gallery--font-weight--semibold);
		font-size: var(--wp--custom--brag-book-gallery--text-sm);
		text-decoration: none;
		transition: var(--wp--custom--brag-book-gallery--transition);
		margin-block: var(--wp--custom--brag-book-gallery--spacer--lg,16px);

		&:hover {
			text-decoration: underline
		}
	}
}




